.menu-left{
    float: left!important;
}
.menu-right{
    float: right!important;

}
.nav1{
    float: right;
}
.nav2{
    float: right;
    margin-right: 15px;
}
.header__logo2{
    position: relative;
    float: left;
    margin-left: 10px;
}
.header__logo2 h3{
    font-size: 26px;
    color: #f5af02;
    text-transform: uppercase;
    line-height: 24px;
}
.header__logo2 span{
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    line-height: 0px;
}
.nav1.header__nav .menu  li a{
    padding-right: 10px!important;
}
.nav2.header__nav .menu  li a{
    padding-left: 10px!important;
}
.footer-content ul li{
    list-style: none; 
    color: #fff;
}
.header__logo3 {
    float: right;
    height: inherit;
    margin-right: 15px;
    background: #fff;
}

/*footer*/


* {
    box-sizing: border-box
}


ul {
    list-style: none
}
a {
    text-decoration: none
}
.generic-anchor {
    color: #fff;
    &:visited {
        color: #8DB9ED	}
    &:hover {
        color: #ccc;
    }
}
.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

main {
    flex: 1 1 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    font: 10em "Oswald", sans-serif;
    color: rgb(155,155,155);
    line-height: 1
}

footer {
    background: rgb(55,55,55);
    margin-top: auto;
    width: 100%;
    padding-top: 20px
}
.footer-list-top {
    width: 33.333%
}
.footer-list-top > li {
    text-align: center;
    padding-bottom: 10px
}
.footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font:20px "Oswald", sans-serif;
    text-transform: capitalize;
}
.footer-list-anchor {
    font: 14px "Open Sans", sans-serif
}
.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}
.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px)
}
.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: rgb(55,55,55);
    padding: 0 20px
}
.footer-social-connect {
    display: flex;
    align-items: center;
    font: 1.5em "Oswald", sans-serif;
    color: #fff
}
.footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px
}
.footer-social-overlap > a {
    font-size: 2em;
    color: #fff;
}
.footer-social-overlap > a:not(:first-child) {
    margin-left: 0.38em
}
.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px
}
.footer-bottom-section > div:first-child {
    margin-right: auto
}
.footer-bottom-wrapper {
    font-size: 15px;
    color: #fff
}
.footer-address {
    display: inline;
    font-style: normal
}
@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em
    }
    .footer-list-anchor {
        font-size: 1.1em
    }
    .footer-social-connect {
        font-size: 18px
    }
    .footer-social-overlap > a {
        font-size: 2.24em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
}
@media only screen and (max-width: 568px) {
    main {
        font-size: 5em
    }
    .footer-list-top {
        width: 100%
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em
    }
    .footer-social-section {
        justify-content: center
    }
    .footer-social-section::after {
        top: 25%
    }
    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px
    }
    .footer-social-overlap {
        display: flex;
        justify-content: center;
    }
    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0
    }
    .footer-social-overlap > a:not(:first-child) {
        margin-left: 20px;
    }
    .footer-bottom-section {
        padding: 0 5px 10px 5px
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px
    }
}
@media only screen and (max-width: 480px) {
    .footer-social-overlap > a {
        margin: auto
    }
    .footer-social-overlap > a:not(:first-child) {
        margin-left: 0;
    }
    .footer-bottom-rights {
        display: block
    }
}
@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em
    }
    .footer-list-anchor {
        font-size: 1.2em
    }
    .footer-social-connect {
        font-size: 2.4em
    }
    .footer-social-overlap > a {
        font-size: 2.24em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
}
.a_btn{
    margin-top: 8px;
    display: block;
    width: 100%;

}
.a_btn_bg{
    font-size: 18px;
    background-color: #f5af02;
    padding: 7px 50px 10px 50px;
    color: #212122;
    text-align: left;
}
.a_btn_bg:hover{

    color: #fff;

}


.sp_more{
    line-height: 42px;
    width: 41px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #000;
    color: #f5af02;

}
/*AD Style*/
.section-padding-hp2 {
    padding: 50px 0;
}
.hp2-area-bg {
    position: relative;
    z-index: 1;
}
.world-out-there-left h1 {
    font-size: 40px;
    margin: 0;
}

.world-out-there-left h1::after {

    bottom: 10px;

}
.section-title-hp2 h1::after, .world-out-there-left h1::after {

    position: absolute;
    left: 50%;
    bottom: 12px;
    width: 96%;
    height: 6px;
    content: "";
    margin-left: -48%;
    border-radius: 10px;
    z-index: -1;

}
.section-title-hp2 h1, .world-out-there-left h1 {
    position: relative;
    font-weight: 800;
    line-height: 1.3;
    z-index: 1;
    display: inline-block;
}
.world-out-there-left p {
    margin-top: 25px;
    padding: 0;
    font-size: 17px;
}
.world-out-there-left-1 p {
    margin-top: 25px;
    padding: 0;
    font-size: 17px;
}
.world-out-there-left a.pink-btn {
    margin-top: 25px;
    text-transform: uppercase;
    color: #ea2626;
}
.world-out-there-left-1 a.pink-btn {
    margin-top: 25px;
    text-transform: uppercase;
    color: #ea2626;
}
.world-out-there-right {
    position: relative;
    padding: 30px;
}
.world-out-there-right-highlight {
    background-image: url(../img/events/event4.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}
.world-out-there-right-regional {
    background-image: url(../img/events/event3.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}
.world-out-there-right-accomo {
    background-image: url(../img/events/event5.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}
.world-out-video-btn i.zmdi {
    font-size: 35px;
    position: absolute;
    padding-left: 15px;
    transform: rotate(90deg);
    margin-top: -7px;
}
.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    text-rendering: auto;
}
.world-out-there-left-1{
    margin-top: 50%;
    margin-right: 30%;
}
.world-out-there-left{
    margin-top: 30%;
    margin-left: 30%;
}
.icon-arrow{
    margin-left: 10px;
}
#parallax_slide {
    height: auto;
    margin: 40px 0;
    padding: 0;
    border-bottom: 0 solid #fff;
    border-top: 0 solid #fff;
    width: 100%;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    padding-bottom: 275px;

}
#parallax_slide .effect-over {
    background: rgba(0,0,0,.4);
    background-repeat: repeat;
    z-index: 1;
    height: 100%;
}
.bx-about2 {
    padding-left: 0;
    padding-right: 0;
    display: block;
    z-index: 88;
}
.bx-about2, .bx-about2 .bx-next .fa, .bx-about2 .bx-prev .fa, .skillbar {
    position: relative;
}
.bx-about2 .bx-wrapper {
    padding: 0;
    margin: 0;
}
.bx-wrapper {
    position: relative;
}
.bx-about2 .bx-wrapper .bx-viewport {
    overflow: inherit !important;
}
.bx-about2 .bx-wrapper .bx-viewport {
    z-index: 999;
}
.bx-wrapper .bx-viewport {
    padding: 0px;
    left: 0;
}
.bx-wrapper img {
    width: 100%;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
    height: 650px;
}
.cover-slide-trip {
    /*    background: rgba(0,0,0,.3);*/
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.all-info-trip.long-pannel .trip-slide-price, .all-info-trip.pannel-radius .trip-slide-price {
    background: #fff;
    box-shadow: 0 4px 4px #c6c6c6;
    height: 60%;
    width: 35%;
    top: 45%;
    right: 8.52%;
    z-index: 99999;
}
.all-info-trip .trip-slide-price {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    padding: 30px 50px;
    letter-spacing: 0;
    line-height: 26px;
}
.trip-slide-text {
    font-size: 36px;
    color: #000;
    z-index: 99999;
    font-weight: 800;
    padding: 40px 0;
    margin-bottom: 0px;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
}
.all-info-trip .btn-primary {
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    right: 10px;
    font-family: Lato;
    -webkit-border-radius: 3px;
    font-style: normal;
    text-transform: uppercase;
    padding: 7px 20px;
    font-size: 11px;
    float: right;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-gallery {
    margin-top: 20px;
}
.bx-about2 .bx-has-controls-direction {
    margin-top: 0;
}
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
    z-index: 9999;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
}
.bx-about2 .bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    border: 1px solid rgba(220,220,220,0.6);
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
}
.bx-about2 .bx-wrapper .bx-controls-direction .bx-prev, .t-blog .bx-wrapper .bx-controls-direction .bx-next {
    top: 45%;
}
.bx-about2 .bx-wrapper .bx-controls-direction .bx-next, .bx-about2 .bx-wrapper .bx-controls-direction .bx-prev {
    opacity: 0;
    display: block;
    position: absolute;
    padding: 0;
    border: 0 solid rgba(220,220,220,.6);
    border-radius: 0;
    top: 45%;
    margin-top: -35px;
    width: 105px;
    height: 105px;
    line-height: 105px;
    font-size: 16px;
    text-align: center;
    color: #111;
    z-index: 11111;
    -webkit-transition: all .27s cubic-bezier(0,0,.58,1);
    -moz-transition: all .27s cubic-bezier(0,0,.58,1);
    -o-transition: all .27s cubic-bezier(0,0,.58,1);
    -ms-transition: all .27s cubic-bezier(0,0,.58,1);
    transition: all .27s cubic-bezier(0,0,.58,1);
}
.bx-about2 .bx-wrapper .bx-prev {
    left: -90px;
}

.bx-about2 .bx-next::before, .bx-about2 .bx-prev::before {

    content: "";
    display: block;
    width: 66%;
    height: 66%;
    position: absolute;
    top: 17px;
    left: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 1px 1px 0 rgba(0,0,0,.1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .27s cubic-bezier(0,0,.58,1);
    -moz-transition: all .27s cubic-bezier(0,0,.58,1);
    -o-transition: all .27s cubic-bezier(0,0,.58,1);
    -ms-transition: all .27s cubic-bezier(0,0,.58,1);
    transition: all .27s cubic-bezier(0,0,.58,1);
    background: #428bca;

}
*, ::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.bx-about2 .bx-wrapper .bx-controls-direction .bx-next i, .bx-about2 .bx-wrapper .bx-controls-direction .bx-prev i {
    border: 0 solid rgba(220,220,220,.6);
    color: #fff;
}
.bx-about2 .bx-wrapper .bx-controls-direction i {
    margin-top: -12px;
    top: 33%;
    left: 32%;
}
.bx-about2, .bx-about2 .bx-next .fa, .bx-about2 .bx-prev .fa, .skillbar {
    position: relative;
}
.bx-wrapper .bx-controls-direction i {
    position: absolute;
    top: 35%;
    margin-top: -16px;
    outline: 0;
    width: 35px;
    color: #93bc04;
    z-index: 9999;
    padding: 20px 0px 20px 0;
    border: 1px solid rgba(220,220,220,0.6);
    border-radius: 3px;
    display: block;
    text-align: center;
    -webkit-transition: color 0.25s ease 0s;
    -moz-transition: color 0.25s ease 0s;
    -o-transition: color 0.25s ease 0s;
    transition: color 0.25s ease 0s;
}
#parallax_slide p{
    color: #5a5b5c;
    font-size: 17px;
}
#topics.section{
    padding-bottom: 0px;
}
.planing i{
    padding-right: 10px;
}

/*Start Banner*/
.banner-title.compact {
    padding-top: 100px;
}
.banner-title.compact .banner-title--content {
    margin-bottom: 45px;
}
.banner-title--content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.banner-title--main {
    flex: 1 1 100%;
    max-width: 75%;
}
.banner-title--title {
    font-size: calc(24px + 2.5vw);
}
.banner-title--content::after {
    display: block;
    content: "";
    clear: both;
}
.banner-title {
    position: relative;
    background-color: #fbfbfb;
    padding-left: calc(50% - 595px);
    padding-right: calc(50% - 595px);
    padding-top: 225px;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
}
/*End Banner*/

/*Start Footer*/
#footer {
    width: 100%;
    background: #162021;
    color: #fff;
    padding-top: 80px;
}
.footer-bottom {
    background: #0c1314;
    padding: 30px 0;
    margin-top: 80px;
    line-height: 14px;
}
#footer h3 {
    color: #fff;
    margin-top: 0;
    font-size: 20px;
}
#footer h3, .button-banner a, .price-title h3 {
    font-weight: 600;
}
#footer p {
    line-height: 30px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}
.footer-zone i {
    color: #ff590b;
    margin-right: 10px;
}
.footer-zone .socialfooter {
    margin: 0px 0 0;
    float: left;
}
.footer-zone .socialfooter i {
    border: 1px solid #f5af02;
    border-radius: 1px;
    color: #fff;
    font-size: 16px;
    padding: 10px 14px;
    margin: 10px 5px 10px 0;
    background: #f5af02;
}
.footer-zone .socialfooter i:hover {
    background-color: transparent;
}
.newsletterfooter {
    float: left;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.newsletterfooter input[type="text"] {
    width: 215px;
    float: left;
    margin: 0;
    padding: 0 10px;
    border: 0;
    height: 40px;
    background-color: #4A515B;
    color: #fff;
}
.newsletterfooter input[type="submit"] {
    float: right;
    width: 40px;
    height: 40px;
    background-color: #f5af02;
    cursor: pointer;
    border: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    content: ">";
    right: 30%;
}
.newsletterfooter i {
    font-size: 20px;
    margin: 0 auto;
    padding: 10px 8px;
    position: absolute;
    text-align: center;
}
.payment-card {
    text-align: right;
}
.payment-card i {
    margin-left: 5px;
}
.fa-2x {
    font-size: 2em;
}
#footer h5{
    color: #fff;
}
/*End Footer*/

/*End Style*/
